[submodule "collection/_base/reset"]
	path = collection/_base/reset
	url = git://github.com/sairi-na-tenshi/i-component-base-reset.git
[submodule "collection/_base/component"]
	path = collection/_base/component
	url = git://github.com/sairi-na-tenshi/i-component-base-component.git
[submodule "collection/_base/functors"]
	path = collection/_base/functors
	url = git://github.com/sairi-na-tenshi/js-functor-collection.git
[submodule "collection/hlight/_base"]
	path = collection/hlight/_base
	url = git://github.com/sairi-na-tenshi/i-component-hlight-base.git
[submodule "collection/hlight/lang-js"]
	path = collection/hlight/lang-js
	url = git://github.com/sairi-na-tenshi/i-component-hlight-lang-js.git
[submodule "collection/hlight/lang-md"]
	path = collection/hlight/lang-md
	url = git://github.com/sairi-na-tenshi/i-component-hlight-lang-md.git
[submodule "collection/hlight/lang-code"]
	path = collection/hlight/lang-code
	url = git://github.com/sairi-na-tenshi/i-component-hlight-lang-code.git
[submodule "collection/html/common"]
	path = collection/html/common
	url = git://github.com/sairi-na-tenshi/i-component-html.git
[submodule "collection/iface/binom"]
	path = collection/iface/binom
	url = git://github.com/sairi-na-tenshi/i-component-iface-binom.git
[submodule "collection/iface/panel"]
	path = collection/iface/panel
	url = git://github.com/sairi-na-tenshi/i-component-iface-panel.git
[submodule "collection/iface/button"]
	path = collection/iface/button
	url = git://github.com/sairi-na-tenshi/i-component-iface-button.git
[submodule "collection/iface/field"]
	path = collection/iface/field
	url = git://github.com/sairi-na-tenshi/i-component-iface-field.git
[submodule "collection/root/page"]
	path = collection/root/page
	url = git://github.com/sairi-na-tenshi/i-component-root-page.git
[submodule "collection/root/editor"]
	path = collection/root/editor
	url = git://github.com/sairi-na-tenshi/i-component-root-editor.git
[submodule "collection/iface/spacer"]
	path = collection/iface/spacer
	url = git://github.com/sairi-na-tenshi/i-component-iface-spacer.git
